<h1>Welcome To Meadowlark Travel</h1>

{{> weather}}

<h3>List of contents</h3>

<ol>
    <li>
        <a href='/about'>About Meadow Lark</a>
    </li>
    <li>
        <a href='/newsletter'>Meadowlark Newsletter</a>
    </li>
    <li>
        <a href='/contest/vacation-photo'>Upload your Vacation Photos</a>
    </li>
    <li>
        <a href='/nursery-rhyme'>Nursery Rhyme Test</a>
    </li>
    <li>
        <a href="/vacations">Click Here to find your Next Getaway !!</a>
    </li>
</ol>
